* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Hide Scrollbars but allow scrolling */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Selection */
::selection {
  background: rgba(99, 102, 241, 0.3);
  color: #f8fafc;
}
